.content-meta {
  margin-top: 0;
  color: var(--gray);

  &[show-comma="true"] {
    > *:not(:last-child) {
      margin-right: 8px;

      &::after {
        content: ",";
      }
    }
  }

  .source-blame {
    a {
      color: #646464;
      text-decoration: none;
      transition: color 0.2s ease;

      &:hover {
        color: var(--primary);
        text-decoration: underline;
      }
    }
  }
}
